.Modal {
  position: fixed;
  top: 20%;
  width: 90vw;
  margin: 5vw;
  display: none;
  border-radius: 1vw;
}

.modal-show {
  display: flex;
  justify-content: center;
  background-color: rgba(240,255,255, .9);
}

.modal-content-container {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
}

.modal-close-button {
  font-size: 5vw;
  border: none;
  width: 10vw;
  grid-column: 2;
  grid-row: 1;
  justify-self: right;
  border-radius: 1vw;
}

.modal-title {
  margin: 0;
  padding: 0;
  font-size: 7vw;
  justify-self: center;
  grid-row: 2;
  grid-column: 1/span 2;

}

.modal-image {
  justify-self: right;
  align-self: center;
  padding: 0;
  margin: 0;
  width: 40vw;
  grid-row: 3;
  grid-column: 1;
}

.modal-attributes-container {
  justify-self: left;
  align-self: center;
  grid-row: 3;
  grid-column: 2;
  margin: 2vh 0 0 3vw;
}

.modal-attributes-title {
  margin: 0 0 .5vh 0;
  padding: 0;
  font-size: 3vw;
}

.modal-attributes {
  margin: 0 0 1vh 0;
  padding: 0;
  font-size: 3vw;
  width: 40vw;
  overflow-wrap: break-word;
}

.modal-attributes-bio {
  font-size: 2.5vw;
}

.modal-user-inputs-container {
  margin-top: 1vh;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row: 4;
  grid-column: 1 /span 2;
}

.modal-input-titles {
  margin: 0;
  font-size: 3vw;
  grid-row: 1;
  justify-self: center;
} 

.modal-user-input {
  width: 1rem;
  height: 1rem;
  margin: 1vw 0 3vw 0;
  padding: 0;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

