.Sprite {
  border-radius: 1vw;
  margin: 1vw;
  background-color: rgba(240, 240, 240, 1);
}

.pokemon-image {
  width: 100%;
}

.pokemon-title {
  font-size: 3vw;
  font-family: 'Tilt Neon', cursive;
  padding: 0;
  margin: 0;
  transform: translateY(-200%);
  z-index: -1;
  position: relative;
}
