.navbar-spacer {
  top: 0;
  width: 100vw;
  min-height: 10vh;
  position: relative;
}

.navbar-spacer-title {
  font-size: 8vw;
  margin: 1vh 0 0 0;
  font-family: 'Pokemon Solid', sans-serif;
  color: white;
  -webkit-text-stroke: .4vw;
  -webkit-text-stroke-color: white;
}


.navbar-container {
  top: 0;
  width: 100vw;
  min-height: 10vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255,255,255,.9);
}

.navbar-title {
  font-size: 8vw;
  margin: 1vh 0 0 4vw;
  font-family: 'Pokemon Solid', sans-serif;
  color: #ffca01;
  -webkit-text-stroke: .4vw;
  -webkit-text-stroke-color: #185bc8;
}

.navbar-list {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  margin: 0 1vw 0 2vw;
  padding: 0;
}

.navbar-list-item {
  font-size: 5vw;
  font-family: 'Tilt Neon', cursive;
  margin: 1vh 2vw 0 2vw;
  color: #185bc8;
}

